In [1]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

digital = pd.read_csv('data/digital_diet_mental_health.csv')

In [2]:
engine = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306")
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS digital"))
engine_db = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306/digital")
digital.to_sql(name='digital_data', con=engine_db, if_exists='replace', index=False)

2000

In [3]:
with engine_db.connect() as conn:
    result = conn.execute(text("SELECT * FROM digital_data LIMIT 10"))
    for row in result:
        print(row)

('user_1', 51, 'Female', 4.8, 3.4, 1.3, 1.6, 1.6, 4.1, 2.0, 1.0, 1.7, 6.6, 6, 6, 10, 0.7, 'Urban', 32, 1, 1, 125.2, 13, 15, 4.0)
('user_2', 64, 'Male', 3.9, 3.5, 1.8, 0.9, 2.0, 2.7, 3.1, 1.0, 1.5, 4.5, 7, 5, 6, 4.3, 'Suburban', 75, 0, 1, 150.4, 19, 18, 6.5)
('user_3', 41, 'Other', 10.5, 2.1, 2.6, 0.7, 2.2, 3.0, 2.8, 4.1, 1.7, 7.1, 9, 5, 5, 3.1, 'Suburban', 22, 0, 0, 187.9, 7, 3, 6.9)
('user_4', 27, 'Other', 8.8, 0.0, 0.0, 0.7, 2.5, 3.3, 1.6, 1.3, 0.4, 5.1, 9, 10, 5, 0.0, 'Rural', 22, 0, 1, 73.6, 7, 2, 4.8)
('user_5', 55, 'Male', 5.9, 1.7, 1.1, 1.5, 1.6, 1.1, 3.6, 0.8, 0.8, 7.4, 2, 8, 7, 3.0, 'Urban', 64, 1, 1, 217.5, 8, 10, 0.0)
('user_6', 20, 'Female', 9.9, 3.2, 2.7, 1.2, 3.3, 1.6, 2.5, 3.3, 2.9, 6.0, 3, 10, 2, 3.3, 'Suburban', 72, 1, 0, 102.8, 17, 16, 11.5)
('user_7', 33, 'Male', 5.8, 4.0, 3.2, 1.9, 1.3, 0.9, 1.7, 4.7, 1.4, 5.9, 4, 1, 9, 6.8, 'Urban', 45, 0, 0, 162.8, 6, 4, 7.9)
('user_8', 51, 'Female', 7.4, 2.9, 3.0, 0.9, 3.4, 1.2, 2.2, 4.0, 0.5, 5.3, 6, 8, 2, 3.5, 'Urban', 23, 0, 1, 147.1, 9, 8, 4.4)
('user_9', 31, 'Female', 6.0, 2.3, 2.9, 1.4, 0.4, 1.5, 2.1, 5.5, 1.1, 7.1, 5, 7, 9, 0.0, 'Suburban', 35, 1, 0, 109.7, 0, 0, 21.2)
('user_10', 35, 'Male', 6.8, 6.4, 2.1, 1.4, 0.5, 1.2, 2.2, 5.6, 0.7, 7.1, 6, 1, 4, 3.5, 'Urban', 47, 1, 0, 206.8, 3, 8, 8.1)