In [3]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

gas = pd.read_csv('data/seoul_gas.csv', header = 0)

In [4]:
gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   동별(1)   29 non-null     object
 1   동별(2)   29 non-null     object
 2   2019    29 non-null     object
 3   2019.1  29 non-null     object
 4   2019.2  29 non-null     object
 5   2019.3  29 non-null     object
 6   2020    29 non-null     object
 7   2020.1  29 non-null     object
 8   2020.2  29 non-null     object
 9   2020.3  29 non-null     object
 10  2021    29 non-null     object
 11  2021.1  29 non-null     object
 12  2021.2  29 non-null     object
 13  2021.3  29 non-null     object
 14  2022    29 non-null     object
 15  2022.1  29 non-null     object
 16  2022.2  29 non-null     object
 17  2022.3  29 non-null     object
 18  2023    29 non-null     object
 19  2023.1  29 non-null     object
 20  2023.2  29 non-null     object
 21  2023.3  29 non-null     object
dtypes: object(22)
memory usage: 5.1+ KB

In [5]:
gas.rename(columns = {gas.columns[0] : '광역시도', gas.columns[1] : '시군구'}, inplace = True)

In [6]:
gas = gas[gas['광역시도'].astype(str).str.strip() == '서울시']

In [7]:
value_vars = [col for col in gas.columns if col not in ['광역시도', '시군구']]
melted = pd.melt(gas, id_vars = ['광역시도', '시군구'], value_vars = value_vars,
                 var_name = '년도', value_name = '이용가구수')

In [8]:
melted['년도'] = melted['년도'].astype(str).str.extract(r'(\d{4})')
melted['년도'] = pd.to_numeric(melted['년도'], errors = 'coerce')

In [9]:
melted['이용가구수'] = pd.to_numeric (
    melted['이용가구수'].astype(str).str.replace(',', '').replace('-', pd.NA),
    errors = 'coerce'
)

In [10]:
final_gas = melted.groupby(['년도', '시군구'])['이용가구수'].sum().reset_index()

In [12]:
final_gas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   년도      130 non-null    int64
 1   시군구     130 non-null    object
 2   이용가구수   130 non-null    int64
dtypes: int64(2), object(1)
memory usage: 3.2+ KB

In [12]:
engine = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306")
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS seoul_gas"))
engine_db = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306/seoul_gas")
final_gas.to_sql(name='seoul_gas_data', con=engine_db, if_exists='replace', index=False)

130

In [ ]:
with engine_db.connect() as conn:
    result = conn.execute(text("SELECT * FROM seoul_gas_data LIMIT 10"))
    for row in result:
        print(row)

(2019, '강남구', 461736)
(2019, '강동구', 360628)
(2019, '강북구', 288289)
(2019, '강서구', 502175)
(2019, '관악구', 538860)
(2019, '광진구', 351363)
(2019, '구로구', 379801)
(2019, '금천구', 240209)
(2019, '노원구', 396055)
(2019, '도봉구', 274024)