In [4]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

income = pd.read_csv('data/seoul_income.csv', encoding = 'cp949')

In [5]:
# 사용할 컬럼 확인
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     625 non-null    int64
 1   행정동_코드        625 non-null    int64
 2   행정동_코드_명      625 non-null    object
 3   월_평균_소득_금액    625 non-null    int64
 4   소득_구간_코드      625 non-null    int64
 5   지출_총금액        625 non-null    int64
 6   식료품_지출_총금액    625 non-null    int64
 7   의류_신발_지출_총금액  625 non-null    int64
 8   생활용품_지출_총금액   625 non-null    int64
 9   의료비_지출_총금액    625 non-null    int64
 10  교통_지출_총금액     625 non-null    int64
 11  교육_지출_총금액     625 non-null    int64
 12  유흥_지출_총금액     625 non-null    int64
 13  여가_문화_지출_총금액  625 non-null    int64
 14  기타_지출_총금액     625 non-null    int64
 15  음식_지출_총금액     625 non-null    int64
dtypes: int64(15), object(1)
memory usage: 78.3+ KB

In [6]:
income['기준_년분기_코드']

0      20242
1      20242
2      20242
3      20243
4      20243
       ...
620    20241
621    20241
622    20241
623    20243
624    20243
Name: 기준_년분기_코드, Length: 625, dtype: int64

In [7]:
income['연도'] = income['기준_년분기_코드'].astype(str).str[:4].astype(int)

In [8]:
income_filtered = income[(income['연도'] >= 2019) & (income['연도'] <= 2023)]

In [9]:
income_filtered = income_filtered.groupby(['행정동_코드_명', '연도'])['월_평균_소득_금액'].median().reset_index()

In [10]:
engine = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306")
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS seoul_median_inc"))
engine_db = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306/seoul_median_inc")
income_filtered.to_sql(name='seoul_median_inc_data', con=engine_db, if_exists='replace', index=False)

125

In [11]:
with engine_db.connect() as conn:
    result = conn.execute(text("SELECT * FROM seoul_median_inc_data LIMIT 10"))
    for row in result:
        print(row)

('강남구', 2019, 5126808.0)
('강남구', 2020, 4943841.0)
('강남구', 2021, 4943841.0)
('강남구', 2022, 4943841.0)
('강남구', 2023, 4943841.0)
('강동구', 2019, 3387538.0)
('강동구', 2020, 3292857.0)
('강동구', 2021, 3292857.0)
('강동구', 2022, 3292857.0)
('강동구', 2023, 3292857.0)