In [1]:
import pandas as pd
from sqlalchemy import text
from sqlalchemy import create_engine

population = pd.read_csv('data/seoul_population.csv', encoding = 'euc-kr')

In [2]:
population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           625 non-null    int64
 1   자치구_코드              625 non-null    int64
 2   자치구_코드_명            625 non-null    object
 3   총_상주인구_수            625 non-null    int64
 4   남성_상주인구_수           625 non-null    int64
 5   여성_상주인구_수           625 non-null    int64
 6   연령대_10_상주인구_수       625 non-null    int64
 7   연령대_20_상주인구_수       625 non-null    int64
 8   연령대_30_상주인구_수       625 non-null    int64
 9   연령대_40_상주인구_수       625 non-null    int64
 10  연령대_50_상주인구_수       625 non-null    int64
 11  연령대_60_이상_상주인구_수    625 non-null    int64
 12  남성연령대_10_상주인구_수     625 non-null    int64
 13  남성연령대_20_상주인구_수     625 non-null    int64
 14  남성연령대_30_상주인구_수     625 non-null    int64
 15  남성연령대_40_상주인구_수     625 non-null    int64
 16  남성연령대_50_상주인구_수     625 non-null    int64
 17  남성연령대_60_이상_상주인구_수  625 non-null    int64
 18  여성연령대_10_상주인구_수     625 non-null    int64
 19  여성연령대_20_상주인구_수     625 non-null    int64
 20  여성연령대_30_상주인구_수     625 non-null    int64
 21  여성연령대_40_상주인구_수     625 non-null    int64
 22  여성연령대_50_상주인구_수     625 non-null    int64
 23  여성연령대_60_이상_상주인구_수  625 non-null    int64
 24  총_가구_수              625 non-null    int64
 25  아파트_가구_수            625 non-null    int64
 26  비_아파트_가구_수          625 non-null    int64
dtypes: int64(26), object(1)
memory usage: 132.0+ KB

In [3]:
population['년도'] = population['기준_년분기_코드'].astype(str).str[:4].astype(int)

In [4]:
population_filtered = population[(population['년도'] >= 2019) & (population['년도'] <= 2023)]

In [5]:
population_filtered = population_filtered.groupby(['자치구_코드_명', '년도'])['총_상주인구_수'].median().reset_index()

In [6]:
engine = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306")
with engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS seoul_median_pop"))
engine_db = create_engine("mysql+pymysql://jk_cloud:Since0825!@34.64.51.21:3306/seoul_median_pop")
population_filtered.to_sql(name='seoul_median_pop_data', con=engine_db, if_exists='replace', index=False)

125

In [8]:
with engine_db.connect() as conn:
    result = conn.execute(text("SELECT * FROM seoul_median_pop_data LIMIT 10"))
    for row in result:
        print(row)

('강남구', 2019, 541072.0)
('강남구', 2020, 543181.0)
('강남구', 2021, 538853.0)
('강남구', 2022, 538853.0)
('강남구', 2023, 522752.0)
('강동구', 2019, 427463.0)
('강동구', 2020, 417848.0)
('강동구', 2021, 459485.0)
('강동구', 2022, 459485.0)
('강동구', 2023, 398271.0)